node-red/data/flows.json
[
    {
        "id": "f0f60bdf61a0c07e",
        "type": "tab",
        "label": "Soil Variables",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1caab0cf14a9332a",
        "type": "tab",
        "label": "Environment variables",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "81ef8bc284bbde66",
        "type": "tab",
        "label": "States and actuators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f808c0a41db68dd9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28ec5d5d2632bf8b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "59aa16cb38727bb8",
        "type": "ui_spacer",
        "z": "81ef8bc284bbde66",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a54932b2aaf9329",
        "type": "ui_spacer",
        "z": "81ef8bc284bbde66",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "eabb2284b8c6c4e7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8073acb1ebd73039",
        "type": "ui_group",
        "name": "Soil Variables",
        "tab": "eabb2284b8c6c4e7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d62697812539112",
        "type": "ui_group",
        "name": "Environment Variables",
        "tab": "eabb2284b8c6c4e7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "919b4ac83a633494",
        "type": "ui_group",
        "name": "Pumps and electrovalve Status",
        "tab": "eabb2284b8c6c4e7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "342885748b856fbe",
        "type": "ui_group",
        "name": "Soil Nutrients",
        "tab": "eabb2284b8c6c4e7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a256eb24f6664ba",
        "type": "ui_group",
        "name": "Warnings",
        "tab": "eabb2284b8c6c4e7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "208f608e64cbb66a",
        "type": "mqtt in",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "topic": "esp32/SOILHUM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "69bb7976f8177f10"
            ]
        ]
    },
    {
        "id": "69bb7976f8177f10",
        "type": "json",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "a84cb02471395228"
            ]
        ]
    },
    {
        "id": "a84cb02471395228",
        "type": "ui_gauge",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "group": "8073acb1ebd73039",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6a86c0cbd68a0e5",
        "type": "mqtt in",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "topic": "esp32/SOILTEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "992f27c6b7b8db1b"
            ]
        ]
    },
    {
        "id": "db41b8b10384f45d",
        "type": "ui_gauge",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "group": "8073acb1ebd73039",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Temperature [°C]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "992f27c6b7b8db1b",
        "type": "json",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "db41b8b10384f45d"
            ]
        ]
    },
    {
        "id": "b51a21e0c1b19906",
        "type": "mqtt in",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "topic": "esp32/SOILNUTN",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 60,
        "wires": [
            [
                "b23db403d56ba5cb"
            ]
        ]
    },
    {
        "id": "38a0dbb3e0d6eae4",
        "type": "ui_chart",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "group": "342885748b856fbe",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Nitrate [mg/kg]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ee8a3359bc932176",
        "type": "ui_chart",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "group": "342885748b856fbe",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Potassium [mg/kg]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "371d7f41d64f0824",
        "type": "ui_chart",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "group": "342885748b856fbe",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Phosphorus [mg/kg]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b23db403d56ba5cb",
        "type": "json",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "38a0dbb3e0d6eae4",
                "1a65998d24947e66"
            ]
        ]
    },
    {
        "id": "cc84455be987963c",
        "type": "json",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "ee8a3359bc932176",
                "8692b78b02a20b37"
            ]
        ]
    },
    {
        "id": "b981ce1fe6c9405b",
        "type": "json",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 890,
        "y": 340,
        "wires": [
            [
                "371d7f41d64f0824",
                "c3601549e8a7e3bd"
            ]
        ]
    },
    {
        "id": "38eb8b2c48274a5a",
        "type": "mqtt in",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "topic": "esp32/SOILNUTP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "cc84455be987963c"
            ]
        ]
    },
    {
        "id": "b4c2ae0f012464d8",
        "type": "mqtt in",
        "z": "f0f60bdf61a0c07e",
        "name": "",
        "topic": "esp32/SOILNUTK",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "b981ce1fe6c9405b"
            ]
        ]
    },
    {
        "id": "8692b78b02a20b37",
        "type": "ui_text",
        "z": "f0f60bdf61a0c07e",
        "group": "342885748b856fbe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Potassium [mg/kg]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "1a65998d24947e66",
        "type": "ui_text",
        "z": "f0f60bdf61a0c07e",
        "group": "342885748b856fbe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Nitrate [mg/kg]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3601549e8a7e3bd",
        "type": "ui_text",
        "z": "f0f60bdf61a0c07e",
        "group": "342885748b856fbe",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Phosphorus [mg/kg]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "83822f012af59b09",
        "type": "mqtt in",
        "z": "1caab0cf14a9332a",
        "name": "",
        "topic": "esp32/AMBHUM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "92bd967bb84894ec"
            ]
        ]
    },
    {
        "id": "19760877d2d0b38d",
        "type": "ui_gauge",
        "z": "1caab0cf14a9332a",
        "name": "",
        "group": "2d62697812539112",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Environment humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "92bd967bb84894ec",
        "type": "json",
        "z": "1caab0cf14a9332a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "19760877d2d0b38d"
            ]
        ]
    },
    {
        "id": "b49bcd1f63a727f5",
        "type": "mqtt in",
        "z": "1caab0cf14a9332a",
        "name": "",
        "topic": "esp32/AMBTEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b1daffd01d9f5c90"
            ]
        ]
    },
    {
        "id": "de876b2c8691ef5e",
        "type": "ui_gauge",
        "z": "1caab0cf14a9332a",
        "name": "",
        "group": "2d62697812539112",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Environment Temperature [°C]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "b1daffd01d9f5c90",
        "type": "json",
        "z": "1caab0cf14a9332a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "de876b2c8691ef5e"
            ]
        ]
    },
    {
        "id": "bce68e8f919e93cb",
        "type": "ui_gauge",
        "z": "1caab0cf14a9332a",
        "name": "",
        "group": "2d62697812539112",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Solar intensity  [LUZ]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "69a7d2f0ed375f2c",
        "type": "mqtt in",
        "z": "1caab0cf14a9332a",
        "name": "",
        "topic": "esp32/LDRVAL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "6f1857fdc91f3b05"
            ]
        ]
    },
    {
        "id": "6f1857fdc91f3b05",
        "type": "json",
        "z": "1caab0cf14a9332a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "bce68e8f919e93cb"
            ]
        ]
    },
    {
        "id": "220714366a78add4",
        "type": "mqtt in",
        "z": "81ef8bc284bbde66",
        "name": "",
        "topic": "esp32/LVLVAL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "492e913a01b28680"
            ]
        ]
    },
    {
        "id": "492e913a01b28680",
        "type": "json",
        "z": "81ef8bc284bbde66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "c92b8abd8960a61d"
            ]
        ]
    },
    {
        "id": "4c52fd6094048371",
        "type": "mqtt in",
        "z": "81ef8bc284bbde66",
        "name": "",
        "topic": "esp32/WP1S",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "3513ab71548c2164"
            ]
        ]
    },
    {
        "id": "3513ab71548c2164",
        "type": "json",
        "z": "81ef8bc284bbde66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "1e3234c5bfc69318",
                "17d587af9230b60d",
                "5930baa1a003678a"
            ]
        ]
    },
    {
        "id": "1e3234c5bfc69318",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 2,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "OFF",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 60,
        "wires": [],
        "info": "led off WP1S"
    },
    {
        "id": "17d587af9230b60d",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 3,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "ON",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#eeff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 100,
        "wires": [],
        "info": "led ON WP1S"
    },
    {
        "id": "c6ec0593b3961496",
        "type": "mqtt in",
        "z": "81ef8bc284bbde66",
        "name": "",
        "topic": "esp32/WP2S",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "26e5588e3b819302"
            ]
        ]
    },
    {
        "id": "26e5588e3b819302",
        "type": "json",
        "z": "81ef8bc284bbde66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "19801ea537dce518",
                "24b2b6fad413b204",
                "956a3b48ce79a7fd"
            ]
        ]
    },
    {
        "id": "19801ea537dce518",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 5,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "OFF",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 160,
        "wires": [],
        "info": "led off WP2S"
    },
    {
        "id": "24b2b6fad413b204",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 6,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "ON",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#eeff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [],
        "info": "led on WP2S"
    },
    {
        "id": "c92b8abd8960a61d",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 0,
        "group": "5a256eb24f6664ba",
        "width": 0,
        "height": 0,
        "label": "Low water",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#eeff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "5930baa1a003678a",
        "type": "ui_text",
        "z": "81ef8bc284bbde66",
        "group": "919b4ac83a633494",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water pump irrigation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "956a3b48ce79a7fd",
        "type": "ui_text",
        "z": "81ef8bc284bbde66",
        "group": "919b4ac83a633494",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water pump recharge",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "18921b70e8fb3445",
        "type": "mqtt in",
        "z": "81ef8bc284bbde66",
        "name": "",
        "topic": "esp32/Nutrientstatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 580,
        "wires": [
            [
                "7df7f85d9b5af923"
            ]
        ]
    },
    {
        "id": "7df7f85d9b5af923",
        "type": "json",
        "z": "81ef8bc284bbde66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "cec7343bc1ab3e70"
            ]
        ]
    },
    {
        "id": "cec7343bc1ab3e70",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 0,
        "group": "5a256eb24f6664ba",
        "width": 0,
        "height": 0,
        "label": "Low nutrients",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#eeff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "5d41565b082c18c7",
        "type": "mqtt in",
        "z": "81ef8bc284bbde66",
        "name": "",
        "topic": "esp32/EVS",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f808c0a41db68dd9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "eb1ff358955c107b"
            ]
        ]
    },
    {
        "id": "eb1ff358955c107b",
        "type": "json",
        "z": "81ef8bc284bbde66",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "acb5255ca38b2623",
                "0ba4c7244330f6de",
                "c7e7ff9142041a8b"
            ]
        ]
    },
    {
        "id": "acb5255ca38b2623",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 9,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "OFF",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 280,
        "wires": [],
        "info": "led off LVLVAL"
    },
    {
        "id": "0ba4c7244330f6de",
        "type": "ui_led",
        "z": "81ef8bc284bbde66",
        "order": 8,
        "group": "919b4ac83a633494",
        "width": 0,
        "height": 0,
        "label": "ON",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#eeff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 490,
        "y": 320,
        "wires": [],
        "info": "led on LVLVAL"
    },
    {
        "id": "c7e7ff9142041a8b",
        "type": "ui_text",
        "z": "81ef8bc284bbde66",
        "group": "919b4ac83a633494",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Electro valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 300,
        "wires": []
    }
]